.search-container {
	margin:0;
	padding:0;
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color: $placeholder-letter;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $placeholder-letter;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $placeholder-letter;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: $placeholder-letter;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
	   color: $placeholder-letter;
	}
	& .form-group{
		width: 100%;
	}
	& .form-control {
		margin: 1.25rem 0;
	}
	& p.text {
		padding: 0 0.25rem;
		vertical-align: middle;
	}
	& .form-check-input {
		vertical-align: middle;
		width:15px;
		height:15px;
		padding: 0 0.25rem;
	}
}